<div>[% lang_name %]</div>
[%- IF langs.size > 0 %]
<ul id="book_lang_menu_list" class="hidden">
[%- FOREACH langs %]
  <li>
    [% INCLUDE anchor.tmpl host=host lang=lang booklang=lang product=product version=version format=base_format book=book name=lang_name %]
  </li>
[%- END %]
</ul>
[%- END %]

