[% text = name %]
[% UNLESS short %]
[% IF lang != booklang %]
	[% text = text _ " <span>${trans_strings.Untranslated}</span>" %]
[% END %]
[% IF srcnewer %]
	[% text = text _ " <span class='srcnewer'>${trans_strings.SrcIsNewer}</span>" %]
[% END %]
[% IF subtitle %]
	[% text = text _ " <span class='subtitle'>${subtitle}</span>" %]
[% END %]
[% END %]

     [%- IF format == 'pdf' || format == 'epub' %]
        <a href="[% host %]/[% booklang %]/[% product %]/[% version %]/[%format %]/[% book %]/[% product %]-[% version %]-[% book %]-[% booklang %].[% format %]">[% text %]</a>
     [%- ELSIF format == 'txt' %]
        <a href="[% host %]/[% booklang %]/[% product %]/[% version %]/[%format %]/[% book %]/[% book %].[% format %]">[% text %]</a>
     [%- ELSE %]
        <a [% IF class %]class="[% class %]" [% END %][% IF onclick %]onclick="[% onclick %]" [% END %]href="[% host %]/[% booklang %]/[% product %]/[% version %]/[%format %]/[% book %]/index.html">[% text %]</a>
     [%- END %]

