[%- title = labels.${product}.label _ " " _ labels.${product}.${version}.label -%]
[%- ver_menu = 1 -%]
[%- book_menu = 1 -%]
[%- lang_menu = product _ "/" _ version _ "/index.html" -%]
[% INCLUDE 'web_2_head.tmpl' %]
<script type="text/javascript">var current_product = "[% product %]"; var current_version= "[% version %]"; var current_book= "Books"</script>
<h1>[% title %]</h1>
<div id="version_top_box" class="version_top_box">
[% splash %]
</div>
<div class="main_content">
<div class="version_bottom_box">
  <div class="bottom_versions">
[%- tmpl_list = {} -%]
[% FOREACH  booker = book_list %]
[%- path = "groups/${lang}/${product}/${booker.value.sort_order}.tmpl" -%]
[%- UNLESS  tmpl_list.${path}  %]
[%- tmpl_list.${path} = 1 %]
[%- TRY %]
[% PROCESS $path %]
						<span class="link" title="[% description %]" id="[% ver.replace('[\s\.]', '-') %]-categories-[% label.replace('[\s\.]', '-') %]" onclick="activateElement2('[% ver.replace('[\s\.]', '-') %]-categories-[% label.replace('[\s\.]', '-') %]');activateParentElement('[% prod %]-[% ver.replace('\\.', '-')%]-[%booker.sort_order%]', 1);return false;">[% label %]</span>
[%- CATCH file %]
[%- END %]
[%- END %]
    <div class="bottom_books[% IF lang != booker.value.lang %] untranslated [% lang %][% END %]">
		<div class="titles">
      [%- IF booker.value.external -%]
	      [% INCLUDE anchor.tmpl uri=booker.value.uri lang=lang booklang=booker.value.lang name=booker.value.name subtitle=booker.value.subtitle format="external" %]
      [%- ELSE -%]
	      [% INCLUDE anchor.tmpl host=host lang=lang booklang=booker.value.lang product=product version=booker.value.version format=booker.value.base_format book=booker.value.book name=booker.value.book_clean subtitle=booker.value.subtitle srcnewer=booker.value.srcnewer %]
      [%- END -%]
		</div>
		[%- UNLESS booker.value.external -%]
		<div class="formats">
			[%- FOREACH  format = booker.value.formats %]
				[%- INCLUDE anchor.tmpl short=1 host=host lang=lang booklang=booker.value.lang product=product version=booker.value.version format=format book=booker.value.book name=format text=" " class=format icon=1 title=format %]
			[%- END %]
		</div>
		[%- END %]
    </div>
[%- END %]
  </div>
</div>
</div>
[% INCLUDE 'web_2_footer.tmpl' %]

