<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
[% IF bodyface -%]
	<link rel="stylesheet" href="[%- buildpath -%]/[% bodyfont | uri %]-font-faces.css" type="text/css" />
[%- END %]
	<style>
/* Cover Page styles */
html {
    height: 230mm;
}
body.cover {
	height: 100%;
	background-color: white;
	padding: 0px;
	font-size: 14px;
	margin: 0 auto;
	max-width: 100%;
	font-family: "[% bodyfont %]";
}

.titlepage1 {
    height: 100%;
	padding-top: 15mm;
}

body.cover * {
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body.cover div.logo {
	height: 20%;
	background-position: 50% 0%;
	background-image: url("Common_Content/images/title_logo.svg");
	background-repeat: no-repeat;
}


body.cover div.leader {
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
}

body.cover div.product {
	display: inline;
}


body.cover div.version {
	display: inline;
}

body.cover div.docname {
	font-size: 30px;
	font-weight: 600;
	min-height: 10%;
	line-height: 30px;
}

body.cover div.subtitle {
	height: 15%;
	font-weight:300;
	font-size: 16px;
	color: black;
	border-top: .1em solid black;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
}
body.cover div.authors {
}

body.cover div.author {
	float: left;
	min-width: 33%;
	font-weight: 300;
	font-size: 16px;
}

div.authors {
	margin-top: 2em;
}

div.draft {
	background-image: url("Common_Content/images/watermark-draft.png");
	background-repeat: repeat-y;
        background-position: center;	
}
div.para {
	margin-top: 1em;
}

div.titlepage2,
div.titlepage3 {
	text-align: left;
//	height: 100%;
	page-break-before: always;
}

.titlepage2 .title {
	font-size: 16px;
	color: black;
	font-weight: normal;
	margin-bottom: 0.1em;
}

.titlepage2 .subtitle {
	color: black;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	margin-top: 0.1em;
	margin-bottom: 2em;
}

.titlepage2 .contributor {
	margin-bottom: 1em;
	font-size: 12px;
}

.titlepage3 .abstract,
.titlepage3 .legalnotice {
	page-break-before: avoid !important;
	font-size: 12px;
}

.titlepage2 h1,
.titlepage3 h1 {
	color: black;
	font-size: 14px;
	font-weight: normal;
    margin-top: 2em;
}

.titlepage2 .editors h1,
.titlepage2 .othercredit h1,
.titlepage3 .legalnotice h1,
.titlepage3 .keywords h1,
.titlepage3 .abstract h1 {
	font-weight: bold;
}
	</style>
</head>
<body class="cover[%- IF draft -%] draft[%- END -%]" style="font-family: '[% bodyfont %]';">
    <div class="titlepage1[%- IF draft -%] draft[%- END -%]">
	<div class="logo" style="background-image:url([% logo %])"></div>
	<div class="leader">
		<div class="product">[%- product -%]</div>
		<div class="version">[%- version -%]</div>
	</div>
	<div class="docname">[%- docname -%]</div>
	<div class="subtitle">[%- subtitle -%]
	[% IF edition -%]<div class="edition">[%- edition -%]</div>[%- END %]
	[% IF releaseinfo -%]<div class="releaseinfo">[%- releaseinfo -%]</div>[%- END %]
	</div>
	<div class="authors">
	[%- FOREACH author = authors %]
		<div class="author">[%- author -%]</div>
	[%- END %]
	</div>
    </div>
    <div class="titlepage2[%- IF draft -%] draft[%- END -%]">
    </div>
    <div class="titlepage2[%- IF draft -%] draft[%- END -%]">
	<div class="title">
		<span class="product">[%- product -%]</span> <span class="version">[%- version -%]</span> <span class="docname">[%- docname -%]</span>
	</div>
	<div class="subtitle">[%- subtitle -%]
	[% IF edition -%]<div class="edition">[%- edition -%]</div>[%- END %]
	</div>
	[%- IF contributors.author %]
	<div class="authors">
	[%- FOREACH contributor = contributors.author %]
		<div class="contributor">
			<div class="name">
				[% IF contributor.firstname -%]<span class="firstname">[%- contributor.firstname -%]</span> [%- END -%]
				[%- IF contributor.surname -%]<span class="surname">[%- contributor.surname -%]</span>[%- END %]
			</div>
			[% IF contributor.orgname || contributor.orgdiv %]<div class="org">
				[% IF contributor.orgname -%]<span class="">[%- contributor.orgname -%]</span> [%- END -%]
				[%- IF contributor.orgdiv -%] <span class="">[%- contributor.orgdiv -%]</span>[%- END %]
			</div>[%- END %]
			[% IF contributor.email -%]<div class="email">[%- contributor.email -%]</div>[%- END %]
			[% IF contributor.contrib -%]<div class="contrib">[%- contributor.contrib -%]</div>[%- END %]
		</div>
	[%- END %]
	[%- FOREACH contributor = contributors.corpauthor %]
		<div class="contributor">
			<div class="name">
				<span class="">[%- contributor.corpauthor -%]</span>
			</div>
		</div>
	[%- END %]
	</div>
	[%- END %]
	[%- IF contributors.editor %]
	<div class="editors">
		<h1>[%- editorlabel -%]</h1>
	[%- FOREACH contributor = contributors.editor -%]
		<div class="contributor">
			<div class="name">
				[% IF contributor.firstname -%]<span class="firstname">[%- contributor.firstname -%] </span>[%- END -%]
				[%- IF contributor.surname -%]<span class="surname">[%- contributor.surname -%]</span>[%- END %]
			</div>
			[% IF contributor.orgname || contributor.orgdiv %]<div class="org">
				[% IF contributor.orgname -%]<span class="">[%- contributor.orgname -%]</span> [%- END -%]
				[%- IF contributor.orgdiv -%]<span class="">[%- contributor.orgdiv -%]</span>[%- END %]
			</div>[%- END %]
			[% IF contributor.email -%]<div class="email">[%- contributor.email -%]</div>[%- END %]
			[% IF contributor.contrib -%]<div class="contrib">[%- contributor.contrib -%]</div>[%- END %]
		</div>
	[%- END %]
	</div>
	[%- END -%]
	[%- IF contributors.othercredit -%]
	<div class="othercredit">
		<h1>[%- contriblabel -%]</h1>
	[% FOREACH contributor = contributors.othercredit -%]
		<div class="contributor">
			<div class="name">
			[% IF contributor.firstname -%]<span class="firstname">[%- contributor.firstname -%]</span> [%- END -%]
			[%- IF contributor.surname -%]<span class="surname">[%- contributor.surname -%]</span>[%- END -%]
			[%- IF contributor.role-%] <span class="role">([%- contributor.role -%])</span>[%- END %]
			</div>
			[%- IF contributor.orgname || contributor.orgdiv-%]<div class="org">
			[%- IF contributor.orgname -%]<span class="">[%- contributor.orgname -%]</span> [%- END -%]
			[%- IF contributor.orgdiv -%]<span class="">[%- contributor.orgdiv -%]</span>[%- END -%]
			</div>[%- END -%]
			[%- IF contributor.email -%]<div class="email">[%- contributor.email -%]</div>[%- END %]
			[%- IF contributor.contrib -%]<div class="contrib">[%- contributor.contrib -%]</div>[%- END %]
		</div>
	[%- END %]
	</div>
	[%- END %]
    </div>
    <div class="titlepage3[%- IF draft -%] draft[%- END -%]">
	<div class="legalnotice">
		<h1>[%- legaltitle -%]</h1>
		[%- legalnotice -%]
	</div>

	[%- IF keywords -%]
	<div class="keywords">
		<h1>[%- keywordtitle -%]</h1>
		<div>
			[%- FOREACH keyword = keywords -%]<span class="keyword">[% loop.count %]. [%- keyword -%]. </span>[%- END %]
		</div>
	</div>
	[%- END %]

	[%- IF abstract -%]
	<div class="abstract">
		<h1>[%- abstracttitle -%]</h1>
		<div>
			[%- abstract -%]
		</div>
	</div>
	[%- END %]
    </div>
</div>
</body>

</html>

