<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script>
function subst() {
[% IF bodyface -%]
  var fileref=document.createElement("link");
  fileref.setAttribute("rel", "stylesheet");
  fileref.setAttribute("type", "text/css");
  fileref.setAttribute("href", document.location + "[% bodyfont | uri %]-font-faces.css");
[%- END %]
  var vars={};
  var x=document.location.search.substring(1).split('&');
  for (var i in x) {
    var z=x[i].split('=',2);
    vars[z[0]] = unescape(z[1]);
  }
  var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
  if (parseInt(vars[x[2]])%2 == 0){
	var lefty = document.getElementsByClassName("leftstring");
	for (var j=0; j<lefty.length; ++j) lefty[j].textContent = decodeURIComponent(escape(vars['doctitle']));
  } else {
	var righty = document.getElementsByClassName("rightstring");
	for (var j=0; j<righty.length; ++j) righty[j].textContent = decodeURIComponent(escape(vars[x[4]]));
  }
}
</script></head><body style="border:0; margin: 0; font-family: '[% bodyfont %]', sans-serif;" onload="subst()">
<div style="height: 20px; border:0; border-bottom: 1px solid #bbb; width: 100%; color:#888; font-size:8pt; padding-top:7px">
	<span class="leftbox" style="float:left;text-align-left;">
		<span class="leftstring" style="margin-top:-2px;white-space: nowrap;"></span>
	</span>
	<span class="rightbox" style="float:right;text-align:right;">
		<span class="rightstring" style="margin-top:-15px;white-space: nowrap;"></span>
	</span>
</div>
</body></html>

